.emptyState {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    max-width: 600px;
    margin: 50px auto;
}

.emptyState h2 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.emptyState .submit-button {
    background-color: var(--secondary-color);
}

.itemImage {
    width: 180px;
    height: 140px;
    margin: 0 auto;
    border: 2px solid var(--primary-color);
    object-fit: cover;
    border-radius: 8px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}