.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    position: relative;
}

.businessCard {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 20px;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s;
    display: flex;
    align-items: center;
    gap: 15px;
}

.businessCard:hover {
    border-color: var(--secondary-color);
}

.businessLogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}

.cardInfo h2 {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 0;
}

.favoriteBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 5px;
}

.favoriteBtn:hover {
    transform: scale(1.1);
}

.heartOutline {
    color: var(--primary-color);
}

.heartFilled {
    color: #f13c33;
}