.label {
    font-size: 1rem;
    color: var(--label-color);
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: .5rem 0 .8rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: var(--primary-color);
    outline: 1px solid var(--primary-color); 
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle {
    position: absolute;
    right: 12px;
    cursor: pointer;
    color: var(--border-color);
}

.submit-button {
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    margin-top: 15px;
}

.submit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}