.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.imagePlaceholder, .imagePlaceholderCircular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 3px dashed var(--primary-color);
    cursor: pointer;
    overflow: hidden;
    color: var(--label-color);
    transition: border-color 0.3s;
}

.imagePlaceholder {
    border-radius: 8px;
}

.imagePlaceholderCircular {
    border-radius: 50%;
}

.imagePlaceholder:hover, .imagePlaceholderCircular:hover {
    border-color: var(--secondary-color);
}

.uploadedImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadLabel, .externalMessage {
    font-size: 0.7rem;
    color: var(--label-color);
    text-align: center;
}

.externalMessage {
    font-size: 0.9rem;
}