.header {
    width: 100%;
    background-color: var(--primary-color); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content {
    max-width: 100%;
    padding: 15px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin-right: 30px;
    transition: color 0.3s;
}

.logo:hover {
    color: #ffe6c1;
}

.nav {
    display: flex;
    gap: 30px;
    flex-grow: 1;
    align-items: center;
}

.link {
    color: #bdbdbd; 
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
}

.link:hover {
    color: #fff;
}

.link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}

.link:hover::after {
    width: 100%;
}

.activeLink {
    color: var(--secondary-color);
}

.activeLink::after {
    width: 100%;
    background-color: var(--secondary-color);
}

.authActions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileLink {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.profileLink:hover {
    color: #ffe6c1;
}

.logoutButton, .loginButton {
    background-color: var(--secondary-color);
    color: #fff; 
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.1s;
    font-size: .9rem;
}

.logoutButton:hover, .loginButton:hover {
    background-color: #fb8c00;
    transform: translateY(-1px);
}

.cartIcon, .cartIconActive {
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    transition: color 0.3s;
}

.cartIcon:hover {
    color: var(--secondary-color);
}

.cartIconActive {
    color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.1);
}