.profileContainer {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileCard {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    margin: 20px 0 30px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid var(--primary-color);
    object-fit: cover;
}

.infoGroup {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed var(--border-color);
}

.infoGroup:last-child, .infoGroup:first-child {
    border-bottom: none;
}

.label {
    font-weight: 600;
    color: var(--label-color);
}

.value {
    color: var(--text-color);
}

.actionSection {
    display: flex;
    gap: 15px;
}

.editButton, .deleteButton {
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editButton {
    background-color: var(--primary-color);
}

.deleteButton {
    background-color: #d85050;
}

.editButton:hover {
    background-color: #0f5366;
}

.deleteButton:hover {
    background-color: #ce3e3e;
}