.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: var(--background-color);
}

.loginForm {
    max-width: 390px;
}

.loginForm h1 {
    color: var(--secondary-color); 
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.loginForm h2 {
    color: var(--primary-color); 
    font-size: 1.6rem;
    text-align: center;
}

.loginSubmitButton {
    background-color: var(--primary-color);
}

.loginSubmitButton:hover:not(:disabled) {
    background-color: #0c4453;
}

.registerLink {
    text-align: center;
    font-size: 0.9rem;
    color: var(--label-color);
    margin-top: 25px;
}

.linkText {
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: bold;
}