.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: var(--background-color);
    padding: 20px;
}

.loginForm {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginForm h2 {
    color: var(--primary-color); 
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.loginSubmitButton {
    background-color: var(--primary-color);
}

.loginSubmitButton:hover:not(:disabled) {
    background-color: #0c4453;
}

.registerLink {
    text-align: center;
    font-size: 0.9rem;
    color: var(--label-color);
    margin-top: 25px;
}

.linkText {
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: bold;
}